<div class="row px-3">

    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <img src="/views/images/connor.webp" alt="connor">
            <p>
                On 17 February 2007, at the age of 18, McGregor made his mixed martial arts debut in an amateur fight
                against Kieran Campbell for the Irish Ring of Truth promotion in Dublin. He won via technical knockout
                (TKO) in the first round. Following the fight, he turned professional and was signed by the Irish Cage
                of Truth promotion. In 2008, McGregor began training at the Straight Blast Gym (SBG) in Dublin under
                John Kavanagh.[26]
            </p>
            <p>
                Conor Anthony McGregor (Irish: Conchúr Antóin Mac Gréagóir;[11] born 14 July 1988) is an Irish
                professional mixed martial artist. He is a former Ultimate Fighting Championship (UFC) Featherweight and
                Lightweight Champion, becoming the first UFC fighter to hold UFC championships in two weight classes
                simultaneously.[12] He is also a former Cage Warriors Featherweight and Lightweight champion.

                In his debut professional boxing match, he was defeated by Floyd Mayweather Jr.[13] He is the biggest
                pay-per-view (PPV) draw in MMA history, having headlined the five highest-selling UFC pay-per-view
                events.[14] His bout with Khabib Nurmagomedov at UFC 229 drew 2.4 million PPV buys, the most ever for an
                MMA event.[15] His boxing match with Mayweather drew 4.3 million PPV buys in North America, the second
                most in combat sports history.[16] McGregor was ranked as the world's highest-paid athlete by Forbes in
                2021, earning a reported $180 million.[17] He also featured in the list in 2018, when he was ranked
                fourth, with a reported income of $99 million.
            </p>
            <p>
                McGregor has two sisters named Erin and Aoife.[143] He has been in a relationship with his fiancée, Dee
                Devlin, since 2008.[144][145] They have three children.[146]

                McGregor often trains at the Mjölnir gym in Reykjavík, alongside fellow UFC fighter Gunnar
                Nelson.[147][148][149] He has stated that he does not adhere to any pre-fight rituals or superstitions
                because he believes them to be "a form of fear".[150][151]

                McGregor is a Catholic.[152]

                McGregor is a football fan and a supporter of both Celtic and Manchester United.[153][154] He has also
                expressed support for Paris Saint-Germain, being a friend of Sergio Ramos.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, molestias.
            </p>
        </article>
    </section>
</div>