<div class="row px-3">

    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At minus aliquam, consequatur unde
                optio expedita molestias ducimus provident maxime eos magni quae atque, rem, iure ratione
                explicabo laborum natus aspernatur?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea dolorem doloremque hic nostrum
                laudantium nobis tempore dicta nam impedit atque illo accusamus repellat qui laborum tenetur
                debitis corporis, excepturi, quisquam quod. Dicta voluptatem tenetur adipisci, accusantium
                voluptas et obcaecati, harum illo nulla dolorem perspiciatis nemo at consequuntur optio
                accusamus distinctio cupiditate libero eius a nisi facilis corrupti possimus quae itaque?
                Cupiditate esse similique nisi facilis ullam vitae nemo. Illum totam veritatis unde alias rerum.
                Nisi repellendus sapiente soluta commodi vel sunt fugiat omnis velit. Tempora sunt a hic velit
                ab asperiores, commodi perspiciatis cum. Corporis dolore esse voluptatem quibusdam quasi.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quo sed autem. Debitis placeat
                quos ea error fugiat, atque aut.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, molestias.
            </p>
        </article>
    </section>
</div>